<div ng-controller="routeEditCtrl as $ctrl">
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12">
        <div class="panel  panel-info bootstrap-panel animated zoomIn">
            <div class="panel-heading clearfix"><h3 class="panel-title">Add route</h3></div>
            <div class="panel-body footer-panel">
                <div class="grid" ui-grid="$ctrl.routeGrid" ui-grid-auto-resize ui-grid-cellNav ui-grid-edit
                     ui-grid-row-edit
                     ui-grid-selection></div>
            </div>
            <div class="panel-footer footer-large">
                <button class="btn btn-info" ng-click="$ctrl.copyRows($ctrl.routeGridApi)" type="submit">Copy row
                </button>
            </div>
        </div>
    </div>
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-success light-text animated zoomIn" zoom-in="">
            <div class="panel-heading clearfix"><h3 class="panel-title">Station</h3></div>
            <div class="panel-body">
                <div class="grid" ui-grid="$ctrl.stationGrid" ui-grid-auto-resize ui-grid-cellNav ui-grid-edit
                     ui-grid-row-edit
                     ui-grid-selection></div>
            </div>
            <div class="panel-footer footer-large">
                <button class="btn btn-info" ng-click="$ctrl.copyRows($ctrl.stationGridApi)" type="submit">Copy
                                                                                                           row
                </button>
            </div>
        </div>
    </div>
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-info light-text animated zoomIn" zoom-in="">
            <div class="panel-heading clearfix"><h3 class="panel-title">Add train</h3></div>
            <div class="panel-body  footer-panel">
                <div class="grid" ui-grid="$ctrl.trainGrid" ui-grid-auto-resize ui-grid-cellNav ui-grid-edit
                     ui-grid-row-edit
                     ui-grid-selection></div>
            </div>
            <div class="panel-footer footer-large">
                <button class="btn btn-info" ng-click="$ctrl.copyRows($ctrl.trainGridApi)" type="submit">Copy row
                </button>
            </div>
        </div>
    </div>
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-warning bootstrap-panel  animated zoomIn ">
            <div class="panel-heading clearfix"><h3 class="panel-title">Assign Train to Route</h3></div>
            <div class="panel-body footer-panel">
                <div class="grid" ui-grid="$ctrl.trdGrid" ui-grid-auto-resize ui-grid-cellNav ui-grid-edit
                     ui-grid-row-edit
                     ui-grid-selection></div>
            </div>
            <div class="panel-footer footer-large">
                <button class="btn btn-info" ng-click="$ctrl.copyRows($ctrl.trdGridApi)" type="submit">Copy row
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <!--Route list-->
        <div class="panel  light-text animated zoomIn" zoom-in="">
            <div class="panel-heading clearfix"><h3 class="panel-title">Modify route</h3></div>
            <div class="panel-body">
                <!--Table itself-->
                <div class="grid table table-hover" ui-grid="$ctrl.gridOptions" ui-grid-auto-resize ui-grid-cellNav
                     ui-grid-edit
                     ui-grid-row-edit
                     ui-grid-selection></div>
            </div>
            <div class="panel-footer footer-large">
                <!--Copy selected row-->
                <button class="btn btn-info" ng-click="$ctrl.copyRows($ctrl.gridApi)" type="submit">Copy row</button>
                <!--Send update to 2nd app-->
                <button class="btn btn-danger" ng-click="$ctrl.sendMessage()" type="submit">Send updates</button>
            </div>
        </div>
        <!--Route list-->
    </div>
</div>
</div>

